* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  gap: 32px;
}

nav > ul {
  display: flex;
  gap: 32px;
}

nav a {
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.875px;

  color: #17233D;
}