* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

nav {
  display: flex;
  gap: 32px;
  margin-top: 45px;
  margin-left: 45px;
  align-items: center;
}

nav > ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

#list-nav a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.875px;
  color: #17233D;
  cursor: pointer;
}

#button-singUp {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1px;
  color: #FFFFFF;
  background: #6FBF44;
  border: 1px solid #4CB538;
  border-radius: 6px;
  padding: 10px 30px;
  text-align: center;
}

#container {
  display: flex;
  gap: 70px;
}

figure img {
  margin-top: 60px;
  margin-left: 80px;
  width: 550px;
  height: 450px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-right: 70px;
  margin-top: 140px;
}

#container section h1 {
  font-weight: 700;
  font-size: 62px;
  line-height: 82px;
  letter-spacing: 0.596154px;
  color: #161A49;
}

#container section p {
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0.5px;
  color: #4B505A;
  margin-right: 30px;
}

#container section a {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 1px;
  color: #6FBF44;
  text-decoration: none;
  cursor: pointer;
}

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #6FBF44;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

.hvr-underline-from-left:active {
  opacity: 0.5;
}

#button-singUp:hover {
  border: 1px solid #6FBF44;
  background-color: #FFFFFF;
  color: #6FBF44;
}

#button-singUp:active {
  opacity: 0.5;
}

#button-learnMore:hover {
  color: #17233D;
}

#button-learnMore:active {
  opacity: 0.5;
}